/*body color*/
body{
    background-color: #f6f5f2;
}
/*margin of whole page*/
html, body {
    height: 100%;
    margin: 0;
}
.postimg{
    max-width: 350px;
    margin-top: 100px;
}
.container {
    max-width: 1048px;
    margin: 40px auto 0; 
    padding: 0 40px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%; 
    flex-direction: column;
}
.content{
    max-width: 500px;
    margin:0 auto 0; 
    padding: 0 40px;
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-family: 'Inter';
}
h1{
    font-family: 'Tiktok Sans';
    font-size: 40px;
    font-weight: 500;
}
a{
    font-size: 20px;
    text-decoration: none;
}
.back{
    color: #9a6c17;
    background-color: #d76f0056;
    padding: 10px 18px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
}
.back:hover{
    box-shadow: 10px 10px 5px rgba(158, 158, 158, 0.696);
    background-color: #ffffff;
    padding: 8px 15px;
}
/* Footer */
footer {
    color: #000000;
    text-align: center;
    padding: 10px;
    font-family: 'Inter';
    font-weight: 300;
    margin: 0 0;
}
.footercontent{
    margin-top: 100px;
}
.privacy {
    font-size: 10px;
}
.privacy span {
    margin-left: 20px;
}

/* Icons */
.fa {
    padding: 10px;
    font-size: 25px;
    width: 19px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 80%;
}

.fa:hover {
    opacity: 0.7;
}

/*social icon rules */
.fa-youtube,
.fa-facebook,
.fa-google {
  color: #606060c3;
}
.footerimg{
    margin-top: 40px;
    margin-bottom: 0;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

